.table-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.columns-head {
  background-color: var(--surface);
}
.column-box {
  color: var(--contrast);
}
