* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--neutral-1);
  font-family: var(--font-base);
  font-size: 16px;
}

div {
  color: var(--neutral-1);
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
span {
  color: var(--neutral-1);
  font-family: var(--font-base);
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 16px 8px;
  width: 100%;
}
thead {
  background-color: var(--surface);
}
th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

td:hover {
  background: rgba(var(--base-surface), 0.4);
}
